body {
  padding: 30px;
  margin: 0;
}

main {
  padding: 10px 30px;
  border: 1px solid #000;
  width: 1300px;
  height: 1100px;
}

.flex {
  display: flex;
  overflow: visible;
}

h1 {
  text-align: center;
}

section {
  margin-right: 10px;
  width: 1000px;
  height: 1000px;
  border: 1px solid #000;
}

button {
  background-color: #ff0000;
  color: #ffffff;
  width: 250px;
  height: 50px;
  font-size: 25px;
  border-radius: 15px;
}

p {
  width: 280px;
  font-size: 25px;
}

section > div {
  position: relative;
  border: 1px solid #0000ff;
  border-radius: 15px;
}
