* {
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 30px 30px;
  font-size: 30px;
  color: #fff;
  background-color: #ff3300;
  border: none;
  border-radius: 10px;
}

main {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  width: 1500px;
  text-align: center;
}

.info {
  width: 500px;
  font-size: 20px;
  margin: 0 auto;
}

.root {
  position: relative;
  display: flex;
  border: 1px solid black;
}

.town {
  display: flex;
  border: 3px solid blue;
  border-radius: 15px;
  position: absolute;
}

.mailbox {
  position: absolute;
  top: 3px;
  left: 3px;
}

p {
  font-size: 45px;
}

.name {
  position: relative;
  top: -25px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
}
