* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  width: 1100px;
}

h1 {
  width: 200px;
  margin: 10px auto;
}

main {
  display: flex;
}

.city-container {
  width: 1200px;
  height: 900px;
  margin: 10px;
  border: 1px solid black;
  position: relative;
}

.text-area {
  width: 300px;
}

.village {
  border: 3px solid royalblue;
  border-radius: 8px;
  position: absolute;
}

.mailbox {
  width: 30px;
  height: 30px;
}

#A {
  width: 100px;
  height: 100px;
  right: 200px;
  top: 50px;
}

#B {
  width: 250px;
  height: 250px;
  left: 20px;
  top: 20px;
}

#C {
  width: 150px;
  height: 150px;
  left: 40px;
  top: 40px;
}

#D {
  width: 50px;
  height: 50px;
  left: 5px;
  top: 10px;
}

#E {
  width: 50px;
  height: 50px;
  right: 5px;
  bottom: 10px;
}

#F {
  width: 250px;
  height: 250px;
  right: 20px;
  bottom: 100px;
}

#G {
  width: 100px;
  height: 100px;
  left: 10px;
  top: 10px;
}

#H {
  width: 200px;
  height: 100px;
  right: 10px;
  bottom: 10px;
}

#I {
  width: 150px;
  height: 75px;
  right: 5px;
  bottom: 10px;
}

#J {
  width: 100px;
  height: 50px;
  right: 5px;
  bottom: 10px;
}

#K {
  width: 150px;
  height: 150px;
  left: 150px;
  bottom: 10px;
}

#L {
  width: 50px;
  height: 50px;
  left: 30px;
  bottom: 30px;
}
